.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

.footer h1 {
  font-size: 3em;
  font-family: "Pacifico";
}

.footer p {
  font-family: "Raleway";
  text-align: center;
  line-height: 3em;
}
.footer p span {
  color: var(--dark-red);
}

.footer-links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.footer-links > a img {
  width: 3em;
  height: 3em;
}
