/* pacifico-regular - latin */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Pacifico/pacifico-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Pacifico"),
    url("./fonts/Pacifico/pacifico-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Pacifico/pacifico-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Pacifico/pacifico-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Pacifico/pacifico-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/Pacifico/pacifico-v17-latin-regular.svg#Pacifico")
      format("svg"); /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Poppins/poppins-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Poppins"),
    url("./fonts/Poppins/poppins-v15-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Poppins/poppins-v15-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Poppins/poppins-v15-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Poppins/poppins-v15-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/Poppins/poppins-v15-latin-300.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Poppins/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Poppins"),
    url("./fonts/Poppins/poppins-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Poppins/poppins-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Poppins/poppins-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Poppins/poppins-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/Poppins/poppins-v15-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Poppins/poppins-v15-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Poppins"),
    url("./fonts/Poppins/poppins-v15-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Poppins/poppins-v15-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Poppins/poppins-v15-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Poppins/poppins-v15-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/Poppins/poppins-v15-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Poppins/poppins-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Poppins"),
    url("./fonts/Poppins/poppins-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Poppins/poppins-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Poppins/poppins-v15-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Poppins/poppins-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/Poppins/poppins-v15-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Poppins/poppins-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Poppins"),
    url("./fonts/Poppins/poppins-v15-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Poppins/poppins-v15-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Poppins/poppins-v15-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Poppins/poppins-v15-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/Poppins/poppins-v15-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Raleway/raleway-v22-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/Raleway/raleway-v22-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Raleway/raleway-v22-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Raleway/raleway-v22-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/Raleway/raleway-v22-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/Raleway/raleway-v22-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

:root {
  box-sizing: border-box;
  /* colors */
  --main-font-color: #ffffff;
  --dark-blue: #040221;
  --medium-blue: #0e0c38;
  --low-blue: #142963;
  --dark-grey: #707070;
  --light-grey: #8d8d8d;
  --dark-red: #ff0513;
  --orange: #ff6f00;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: calc(0.5em + 0.5vw);
  font-family: "Poppins";
  background-color: var(--medium-blue);
  color: var(--main-font-color);
}
